/*    @Dispetcher 19.02  */
/*******       Subscription manage        ********/
.mn_head{
	text-align:center;
	font-size:20pt;
	margin-bottom:40px;
}
.mn_above{
	font-size:12pt;
	margin-bottom:40px;
}
.mn_frst{
	text-align:center;
}
.mailpoet_text_label,.mailpoet_select_label{
	color:#204f6e;
	font-family:'PT_Sans_Bold';
	margin-right:20px;
}
.mailpoet_select_label{
	margin-right:30px;
}
.mailpoet_select{
	border:1px solid #09649f;
	height:40px;
	padding: 5px 10px;
	width:320px;
}
.mailpoet_submit{
	margin-top:20px;
	text-align:center;
}
@media(max-width:445px){
	.subscribe_content_font{
		text-align:center;
	}
	.mn_head, .mn_above{
		margin-bottom:20px;
	}
	.mailpoet_select{
		width:280px;
		margin-left:-10px;
	}
	.mailpoet_paragraph input[type="text"]{
		width:280px;
	}
}
@media(max-width:390px){
	.mailpoet_paragraph input[type="text"], .mailpoet_select{
		width:265px;
	}
}
@media(max-width:374px){
	.mailpoet_paragraph input[type="text"], .mailpoet_select{
		width:205px;
	}
	.mailpoet_text_label, .mailpoet_select_label{
		margin-left:5px;
	}
}	